@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#root {
  --fntclr-primo: rgba(77, 79, 98, 100%);
  --shdwclr-primo: rgba(131, 166, 210, 50%);

  color: var(--fntclr-primo);

  max-width: 1440px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

*,
*::after *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
h1,
h2,
h3,
h4 {
  all: unset;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-weight: 200;
    font-size: 2.25rem;
    letter-spacing: 0.25px;
  }
  h2 {
    font-weight: 600;
    font-size: 2.25rem;
    letter-spacing: 0.25px;
    margin-bottom: 1rem;
  }
  p.header {
    max-width: 540px;
    opacity: 0.5;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.1px;
    text-align: center;
  }
}

main {
  padding-block: 5rem;
}

.cards-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    ". . teamB teamB . ."
    "superV superV teamB teamB calc calc"
    "superV superV karma karma calc calc"
    ". . karma karma . .";
  grid-row-gap: 30px;
  grid-column-gap: 30px;

  .cards:nth-child(1) {
    grid-area: teamB;
    animation: slideDown 0.7s linear;
  }
  .cards:nth-child(2) {
    grid-area: superV;
    animation: slideRight 0.7s linear;
  }
  .cards:nth-child(3) {
    grid-area: calc;
    animation: slideLeft 0.7s linear;
  }
  .cards:nth-child(4) {
    grid-area: karma;
    animation: slideUp 0.7s linear;
  }
}

@media (max-width: 30rem) {
  #feature {
    h1 {
      font-size: 1.5rem;
      letter-spacing: 0.17px;
    }
    h2 {
      font-size: 1.5rem;
    }
    .cards-container {
      margin-top: 4.75rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "teamB"
        "superV "
        "karma"
        "calc";
      grid-column-gap: 0;
      grid-row-gap: 2rem;
    }
    .cards-container > * {
      animation: slideUp 0.7s linear;
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
